@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1.1rem;
  line-height: 30px;
}

.active {
  font-weight: bolder;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  
}


.btn {
  color: white;
  background-color: #2b8379;
  border: none;
  padding: 10px 25px;
  min-width: 90px;
  border-radius: 20px;
}
.btn:hover {
  background-color: #19a596;
}

/* Store */

.store-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.store-container h2 {
   font-size: 1.2em;
}

/* Product */

.product-container {
  background-color: antiquewhite;
  padding: 1.5em;
  border-radius: 20px;
  box-shadow: 1px 1px 7px #c4c4c4;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.product-container h2 {
  font-size: 1.5rem;
}

.product-container p {
  font-size: 1.1rem;
}

.product-quantity-container {
  top: 8px;
  right: -15px;
  border-radius: 50%;
  padding: 5px;
}

.product-quantity {
  position: absolute;
  background-color: #2b8379;
  color: white;
  border-radius: 50%;
  font-size: 14px;
  width: 23px;
  height: 23px;
  display: grid;
  place-items: center;
}

.product-image-container {
  margin-right: 1.2em;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  border-radius: 20px;
  padding: 0.5em 0.5em;
}

.product-image {
  max-height: 80px;
  max-width: 80px;
  transition: transform 180ms ease-out;
}
.product:nth-child(2n):hover .product-image {
  transform: scale(1.01) rotateZ(2deg);
}
.product:nth-child(2n + 1):hover .product-image {
  transform: scale(1.01) rotateZ(-2deg);
}
.product-text-container {
  margin-right: 1.2em;
  padding-left: 25px;
}

.product-price-container {
  display: flex;
  align-items: flex-end;
}

.product-price-container Button {
  box-shadow: 1px 1px 7px #c4c4c4;
}

.product-checkout {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: end;
}

.btn-cart {
  background-color: #970e3d; 
}

.btn-cart:hover {
  background-color: #d62160; 
}

.cart-badge {
  background-color: white !important;
  color: black;
  border-radius: 20px;
}

.product-delete {
  padding: 2px 5px;
  min-width: 30px;
  color: rgb(158, 21, 21);
  border: solid rgb(158, 21, 21) 2px;
  background-color: transparent;
  border-radius: 20px;
  font-size: 14px;
  display: grid;
  place-items: center;
}

.product-delete:hover {
  background-color: rgb(158, 21, 21);
  color: white;
  border: solid #2b8379 2px;

}

/* Cart */

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th {
  background-color: #970e3d;
  color: white;
}

.table-cart {
  text-align: center;
}

.error-input {
  font-size: 14px;
  color: #dd1414;
}

/* Details Page */

.tabs-details {
  margin: 0 0 40px 0;
  border-bottom: gray solid 1px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}


.tabs-details .nav-link {
  text-decoration: none;
  padding-bottom: 10px;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
}


/* Success Page */

.success {
  margin-top: 1rem;
}
